@charset "utf-8";

.titulo {
    font-size: 25px;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
    padding-top: 2.5%;
    padding-bottom: 5%;
    margin: 0;
}

.encabezado {
    background-color: #002147;
    height: 100px;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
/*.Membrete {
    background-color: #002147;
    height: 50px;
    margin: 0;
    padding: 0;
}*/
/*BARRA CERRAR SESION Y CUENTA*/
.Salir {
    background: #3264db;
    width: 100%;
    height: 40px;
    position: relative;
    top: 5px;
}

.Navegacion {
    margin: 10px auto;
    background: #3264db;
    width: 100%;
    height: 50px;
}

    .Navegacion ul {
        list-style: none;
        float: right;
    }

.menuCuenta > li {
    /*position:relative;*/
    display: inline-block;
}

    .menuCuenta > li a {
        display: block;
        padding: 5px 10px;
        text-decoration: none;
    }

.menuCuenta li a:hover {
    color: #CE7D35;
    transition: all .3s;
}

a {
    text-decoration: none;
    color: aliceblue;
}
/*SUBMENU CUENTA*/
.subMenu {
    /*position:absolute;*/
    background:#1b9ce6;
    /*width:130%;*/
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s;
}

    .subMenu li a {
        display: block;
        padding: 15px;
        color: #0c0b0b;
        text-decoration: none;
    }

.menuCuenta ul li:hover > ul {
    display: block;
}

.menuCuenta li:hover .subMenu {
    visibility: visible;
    opacity: 1;
}

body {
    background: url(../img/fondodelapices.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
/*body {
    font-family: 'Lucida Sans';
    line-height: 18px;
}*/

a {
    text-decoration: none;
    color: aliceblue;
}

.btnMenu {
    display: block;
    padding: 20px;
    background: #2287D0;
    color: aliceblue;
}



/*MENU IZQ*/
.contenedorMenu {
    min-width: 200px;
    /*display: inline-block;*/ /*HACE Q SE ESE MENU TRNSPASE LOS OTROS MENUS*/
    line-height: 18px;
    width: 249px;
    height: 920px;
    float: left;
}

    .contenedorMenu .Menu {
        width: 100%;
    }

    .contenedorMenu ul {
        list-style: none;
    }

    .contenedorMenu .Menu li a {
        color: #494949;
        display: block;
        padding: 25px 10px;
        background: #E9E9E9;
    }

        .contenedorMenu .Menu li a:hover {
            background: rgba(19, 159, 235, 0.644);
            color: aliceblue;
        }


    .contenedorMenu .Menu ul {
        /*display: none;*/
    }
    /*boton avisos */
    .contenedorMenu .left .Menu li .avisos {
        background: #424242;
        color: #ffffff;
    }
        .contenedorMenu .left .Menu li .avisos:hover {
            background: rgba(19, 159, 235, 0.644);
            color: aliceblue;
        }

        .contenedorMenu * {
            margin: 0;
            padding: 0;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }

.cerrarsesion {
    float: right;
}

.PrincipalWeb {
    float: left;
    display: block;
}

.left {
    float: left;
    height: auto;
    margin: 0px 20px 0px 0px;
    width: 250px;
}

.ParteDerecha {
    width: 100%;
    margin:25px;
    height: 359px;
}
/*FRM CUENTA PROFESOR*/
.DatosPersonales {
    padding: 50px;
    background-color:#20b3bd;
    width: 400px;
    height: auto;
    float: left;
    margin: 20px 0 0 50px;
    position:relative;
    top: -16px;
    position:absolute;
    right:40%;
    top:25%;
}

    .CajaTexto {
        margin-bottom: 20px; /*HACE Q SE JUNTE TODA LA CAJA*/
        width: 50%;
        padding: 6px;
        float: left;
    }

.texto {
    width: 150px;
    float: left;
}

.imagen {
    margin: 20px;
    width: 150px;
    height: 150px;
    background: url(../../img/man-user.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
}

#btnGuardarCambios {
    float: right;
    font-size: 20px;
}
/*FRM BIENVENIDO PROFESOR*/
.Saludo {
    background-image: url('../../img/urdaibai-desde-magunas-700x467.jpg');
    background-size: 100%;
    height: 400px;
    width: 650px;
    position: relative;
    left: 35%;
    position: absolute;
    top: 30%;
}
/*FRM REGISTRO CALIFICACIONES*/
.separacion {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20px;
    width: 150px;
}

.colorDerecha {
    background-color: rgba(88, 96, 101, 0.87);
    color: #2287D0;
    font-size: 18px;
}
.CuadroMaterias {
    padding: 50px;
}
.tabla {
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(64, 62, 62, 0.83);
}
/*FRM REALIZAR AVISO PROFESOR*/
.RealizarAviso {
    background-color: #20b3bd;
    padding:50px;
    width:625px;
    height:auto;
    float:left;
    margin:20px 50px;
    position:relative;
    left: 0%;
    top: -19px;
}
h1 {
    position:relative;
    left:4%;
}

/*TABLA DE REGISTRO*/

body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    margin: 0px 45px 45px 45px;
    width: 718px;
    text-align: center;
    /*border-collapse: collapse;*/
    position: relative;
    /*left:0%;*/
    right:31px;
    top: 7px;
}


th {
    font-size: 13px;
    font-weight: normal;
    padding: 8px;
    background: #ffffff;
    border-top: 4px #aabcfe;
    border-bottom: 1px #fff;
    color: #039;
}

td {
    padding: 8px;
    background: #e8edff;
    border-bottom: 1px solid #fff;
    color: #669;
    border-top: 1px solid transparent;
}

tr:hover td {
    background: #E9E9E9;
    color: #339;
}

.editar {
    color: black;
    cursor: pointer;
}

#contenedorForm {
    margin-left: 45px;
    font-size: 12px;
}

.boton {
    color: black;
    padding: 5px;
    margin: 10px;
    background-color: #b9c9fe;
    font-weight: bold;
}

/* parte de registro calificaiones*/
.LabelMateria {
    width: 400px;
    display: inline-block;
    text-align: right;
    padding-right: 0px;
    margin-bottom: 10px;
}
.cajaCalificacion{
    display: inline-block;
    width:45px;
    margin-bottom:10px;
}
.Calificaciones * {
    /*margin-left: auto;
    margin-right: auto;*/
    font-size: 20px;
    margin-left:120px;
}

#ddlAnio{
    margin-right:40px;
    margin-left:50px;
}
.datosParaCalificaciones {
    text-align: center;
    background-color: #b9c9fe;
    width: 1000px;
}
#btnRegistrar{
    float:right;
}
#GridViewMostrar *{
    font-size:15px;
}
.notasDeCalificacion {
    background-color: #b9c9fe;
    padding: 15px;
    right: 20%;
}
#Cnotas{
    position:absolute;
}
