@charset "utf-8";

.titulo {
    font-size: 25px;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
    padding-top: 2.5%;
    padding-bottom: 5%;
    margin: 0;
}

.encabezado {
    background-color: #002147;
    height: 100px;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
/*.Membrete {
    background-color: #002147;
    height: 50px;
    margin: 0;
    padding: 0;
}*/
/*BARRA CERRAR SESION Y CUENTA*/
.Salir {
    background: #3264db;
    width: 100%;
    height: 40px;
    position: relative;
    top: 5px;
}

.Navegacion {
    margin: 10px auto;
    background: #3264db;
    width: 100%;
    height: 50px;
}

    .Navegacion ul {
        list-style: none;
        float: right;
    }

.menuCuenta > li {
    /*position:relative;*/
    display: inline-block;
}

    .menuCuenta > li a {
        display: block;
        padding: 5px 10px;
        text-decoration: none;
    }

.menuCuenta li a:hover {
    color: #CE7D35;
    transition: all .3s;
}

a {
    text-decoration: none;
    color: aliceblue;
}
/*SUBMENU CUENTA*/
.subMenu {
    /*position:absolute;*/
    background: #333333;
    /*width:130%;*/
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s;
}

    .subMenu li a {
        display: block;
        padding: 15px;
        color: #fff;
        text-decoration: none;
    }

.menuCuenta ul li:hover > ul {
    display: block;
}

.menuCuenta li:hover .subMenu {
    visibility: visible;
    opacity: 1;
}

body {
    background: url(../img/fondodelapices.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
/*body {
    font-family: 'Lucida Sans';
    line-height: 18px;
}*/

a {
    text-decoration: none;
    color: aliceblue;
}

.btnMenu {
    display: block;
    padding: 20px;
    background: #2287D0;
    color: aliceblue;
}


/*MENU IZQ*/
.contenedorMenu {
    min-width: 200px;
    /*display: inline-block;*/ /*HACE Q SE ESE MENU TRNSPASE LOS OTROS MENUS*/
    line-height: 18px;
    width: auto;
    height: auto;
}

    .contenedorMenu .Menu {
        width: 100%;
    }

    .contenedorMenu ul {
        list-style: none;
    }

    .contenedorMenu .Menu li a {
        color: #494949;
        display: block;
        padding: 25px 10px;
        background: #E9E9E9;
    }

        .contenedorMenu .Menu li a:hover {
            background: rgba(19, 159, 235, 0.644);
            color: aliceblue;
        }


    .contenedorMenu .Menu ul {
        /*display: none;*/
    }

        .contenedorMenu .left .Menu li .parteNegra {
            background: #424242;
            color: #E9E9E9;
        }
            .contenedorMenu .left .Menu li .parteNegra:hover {
                background: rgba(19, 159, 235, 0.644);
                color: aliceblue;
            }
        .contenedorMenu * {
        margin: 0;
        padding: 0;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

.cerrarsesion {
    float: right;
}

.PrincipalWeb {
    float: left;
    display: block;
}

.left {
    float: left;
    height: auto;
    margin: 0px 20px 0px 0px;
    width: 250px;
}

.ParteDerecha {
    width: 100%;
    margin:25px;
}

/*AVISOS*/


.avisos {
    padding: 30px;
    background: rgba(79, 166, 199, 0.91);
    color: #ffffff;
}
/*SALUDO*/
.Saludo {
    background-image: url('../../img/urdaibai-desde-magunas-700x467.jpg');
    background-size: 100%;
    height: 400px;
    width: 650px;
    position: relative;
    /*left: 50%;*/
    margin-left:auto;
    margin-right:auto;
    top: 10%;
}

.DatosPersonales {
    /*background-color: #ff6a00;
    height: 350px;
    width: 500px;*/
    padding: 50px;
    background-color: rgba(19, 159, 235, 0.644);
    width: 400px;
    height: auto;
    float: left;
    /*margin-left: auto;
    margin-right: auto;*/
    margin: 20px 0 0 50px;
}
.RealizarAviso {
    background-color: #20b3bd;
    padding: 50px;
    width: 625px;
    height: auto;
    float: left;
    margin: 20px 50px;
    position: relative;
    left: 2%;
    top: 0px;
}